/* Archivo principal: importa todos los estilos */
@import url("variables.css");
@import url("reset.css");
@import url("typography.css");
@import url("layout.css");
@import url("components.css");
@import url("animations.css");
@import url("navigation.css");
@import url("home.css");
@import url("fix-visual.css");
@import url("pages/historia.css");
@import url("pages/propuestas.css");
@import url("pages/logros.css");
@import url("pages/contacto.css");
@import url("pages/multimedia.css");
